/* Header + Footer */
$header-footer-bkg: #171717;
$header-footer-links: #a8a8a9;

/* Main colors */
$white: #fff;
$black: #000;
$copy: #333;

$lightgray: #f0f0f0;
$mediumgray: #ccc;

$lightgreen: #3ed1cd;
$mediumgreen: #2ebfbb;
$darkgreen: #088a86;

$lightblue: #5cb9f3;
$darkblue: #3f97ce;

$purple5: #59357b;
$purple4: #734f95;
$purple3: #8364a0;
$purple2: #9277ac;
$purple1: #a28bb9;
$purple0: #b09ec4;

$red: #d54141;

/* Forms */
$search: #353535;

