/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Base Styles */
@font-face {
  font-family: "Proxima Nova Reg";
  src: url('/fonts/ProximaNova-Reg-webfont.ttf?1300380120') format('truetype'), url('/fonts/ProximaNova-Reg-webfont.eot?1298494218') format('embedded-opentype'), url('/fonts/ProximaNova-Reg-webfont.woff?1298494218') format('woff'), url('/fonts/ProximaNova-Reg-webfont.svg?1298494218') format('svg');
}
@font-face {
  font-family: "Proxima Nova Sbold";
  src: url('/fonts/ProximaNova-Sbold-webfont.ttf?1300380121') format('truetype'), url('/fonts/ProximaNova-Sbold-webfont.eot?1298494218') format('embedded-opentype'), url('/fonts/ProximaNova-Sbold-webfont.woff?1298494218') format('woff'), url('/fonts/ProximaNova-Sbold-webfont.svg?1298494218') format('svg');
}
@font-face {
  font-family: "Proxima Nova Reg";
  src: url('/fonts/ProximaNova-Reg-webfont.ttf?1300380120') format('truetype'), url('/fonts/ProximaNova-Reg-webfont.eot?1298494218') format('embedded-opentype'), url('/fonts/ProximaNova-Reg-webfont.woff?1298494218') format('woff'), url('/fonts/ProximaNova-Reg-webfont.svg?1298494218') format('svg');
}
@font-face {
  font-family: "Proxima Nova Sbold";
  src: url('/fonts/ProximaNova-Sbold-webfont.ttf?1300380121') format('truetype'), url('/fonts/ProximaNova-Sbold-webfont.eot?1298494218') format('embedded-opentype'), url('/fonts/ProximaNova-Sbold-webfont.woff?1298494218') format('woff'), url('/fonts/ProximaNova-Sbold-webfont.svg?1298494218') format('svg');
}
/* line 1, ../sass/base/_structure.scss */
#container, #main, #hero {
  width: 100%;
}

/* line 5, ../sass/base/_structure.scss */
#hero {
  cover: cover;
}

/* Modules and Variables*/
/* line 1, ../sass/modules/_module_header.scss */
#header {
  background: #171717;
  height: 30px;
  padding: 10px 0;
  width: 100%;
}
/* line 7, ../sass/modules/_module_header.scss */
#header a {
  color: #a8a8a9;
}

/* line 11, ../sass/modules/_module_header.scss */
.logo {
  background: url(../images/logo.svg);
  height: 30px;
  display: block;
  text-indent: -9999px;
  width: 183px;
  background-size: 183px 30px;
  float: left;
}

/* line 20, ../sass/modules/_module_header.scss */
#reg-search {
  float: left;
}
/* line 22, ../sass/modules/_module_header.scss */
#reg-search * {
  float: left;
}

/* line 26, ../sass/modules/_module_header.scss */
#nav {
  float: right;
  text-transform: uppercase;
}
/* line 29, ../sass/modules/_module_header.scss */
#nav li {
  float: left;
  padding-right: 1em;
}
/* line 33, ../sass/modules/_module_header.scss */
#nav li li {
  display: none;
}

/* line 40, ../sass/modules/_module_header.scss */
#hero {
  width: 100%;
  height: 620px;
  background: url(../images/hero-default.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid;
}

/* line 9, ../sass/main.scss */
body {
  font: normal 100% "Proxima Nova Reg", Helvetica, sans-serif;
}

/* line 13, ../sass/main.scss */
h1 {
  font-size: 2.25em;
  /* 36px / 16px */
}
