/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Base Styles */
/* Header + Footer */
/* Main colors */
/* Forms */
/* Breakpoints */
/* Global Padding */
/* Typography */
/* Border Radius */
/* Button Corners */
/* Sidebar Boxes */
/* Padding */
/*Clearfix */
@font-face {
  font-family: "Proxima Nova Light";
  src: url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Light-webfont.ttf) format('truetype'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Light-webfont.eot) format('embedded-opentype'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Light-webfont.woff) format('woff'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Light-webfont.svg) format('svg');
}
@font-face {
  font-family: "Proxima Nova Reg";
  src: url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Reg-webfont.ttf) format('truetype'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Reg-webfont.eot) format('embedded-opentype'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Reg-webfont.woff) format('woff'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Reg-webfont.svg) format('svg');
}
@font-face {
  font-family: "Proxima Nova Sbold";
  src: url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Sbold-webfont.ttf) format('truetype'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Sbold-webfont.eot) format('embedded-opentype'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Sbold-webfont.woff) format('woff'), url(/Users/marksteinruck/speakerrate/fonts/ProximaNova-Sbold-webfont.svg) format('svg');
}
/* Headings */
/* line 13, ../sass/base/_typography.scss */
h2, h3, h4, h5, h6 {
  line-height: 2em;
}

/* line 16, ../sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
  /* 36px / 16px */
}

/* line 19, ../sass/base/_typography.scss */
h2 {
  font-size: 1.5em;
  /* 24px / 16px */
  font: normal "Proxima Nova Sbold", Helvetica, sans-serif;
  text-transform: uppercase;
}

/* line 24, ../sass/base/_typography.scss */
h5 {
  font: normal 100% "Proxima Nova Sbold", Helvetica, sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* line 30, ../sass/base/_typography.scss */
h3 {
  font-size: 1.25em;
  /* 20px / 16px */
  font: normal "Proxima Nova Sbold", Helvetica, sans-serif;
}

/* Links */
/* line 37, ../sass/base/_typography.scss */
a {
  color: #3f97ce;
  text-decoration: none;
}
/* line 41, ../sass/base/_typography.scss */
a:hover {
  opacity: 0.6;
}

/* Paragraphs */
/* line 47, ../sass/base/_typography.scss */
p {
  line-height: 1.6em;
  margin-bottom: 1.2em;
}

/* line 1, ../sass/base/_buttons.scss */
.btn {
  text-transform: uppercase;
  width: auto;
}

/* line 5, ../sass/base/_buttons.scss */
.outline-gray {
  border: 2px solid #cccccc;
}

/* line 8, ../sass/base/_buttons.scss */
.outline-white {
  border: 2px solid white;
}

/* Button Colors */
/* line 14, ../sass/base/_buttons.scss */
.btn-white {
  color: white;
  text-decoration: none;
}

/* line 18, ../sass/base/_buttons.scss */
.btn-gray {
  color: #cccccc;
  background: white;
}

/* line 22, ../sass/base/_buttons.scss */
.btn-lightgreen {
  background: #3ed1cd;
  border: 2px solid #3ed1cd;
  color: white;
}
/* line 26, ../sass/base/_buttons.scss */
.btn-lightgreen:hover {
  opacity: .6;
}

/* line 30, ../sass/base/_buttons.scss */
.btn-mediumgreen {
  background: #2ebfbb;
  border: 2px solid #2ebfbb;
  color: white;
}
/* line 34, ../sass/base/_buttons.scss */
.btn-mediumgreen:hover {
  opacity: .6;
}

/* line 38, ../sass/base/_buttons.scss */
.btn-darkgreen {
  background: #088a86;
  border: 2px solid #088a86;
  color: white;
}
/* line 42, ../sass/base/_buttons.scss */
.btn-darkgreen:hover {
  opacity: .6;
}

/* Button Sizes */
/* line 47, ../sass/base/_buttons.scss */
.btn-lrg {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  font: normal 100% "Proxima Nova Reg", Helvetica, sans-serif;
  font-size: .4em;
  /* 18pt / 45pt */
  padding: 10% 15%;
}

/* line 54, ../sass/base/_buttons.scss */
.btn-medium {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  font-size: .875em;
  padding: 6px 25px;
}

/* Section Wrappers */
/* line 2, ../sass/base/_structure.scss */
.section {
  width: 100%;
  padding: 40px 0;
}

/* line 6, ../sass/base/_structure.scss */
.wrapper {
  margin: 0 auto;
  width: 95%;
}

/* Content Columns */
/* line 13, ../sass/base/_structure.scss */
.col1 {
  float: left;
  width: 65%;
}

/* line 18, ../sass/base/_structure.scss */
.col2 {
  float: left;
  padding-left: 10%;
  width: 25%;
}

/* Column spans with margin */
/* line 25, ../sass/base/_structure.scss */
.span2 {
  margin: 0 .5603448% 0 1.1206897%;
}

/* line 29, ../sass/base/_structure.scss */
.span3 {
  margin: 0 1.1206897% 0 .5603448%;
}

/* White Box Spans */
/* line 34, ../sass/base/_structure.scss */
.span-narrow {
  background: white;
  margin-bottom: 30px;
  padding: 2%;
  width: 38.4310345%;
  /* 469px */
}
@media (min-width: 320px) and (max-width: 829px) {
  /* line 34, ../sass/base/_structure.scss */
  .span-narrow {
    width: 100%;
  }
}

/* line 44, ../sass/base/_structure.scss */
.span-wide {
  background: white;
  padding: 0;
  margin-bottom: 30px;
  width: 55.4655172%;
  /* 655px */
}
@media (min-width: 320px) and (max-width: 829px) {
  /* line 44, ../sass/base/_structure.scss */
  .span-wide {
    width: 100%;
  }
}

/* Block Backgrounds */
/* line 55, ../sass/base/_structure.scss */
.bg-gray {
  background: #f0f0f0;
}

/* line 58, ../sass/base/_structure.scss */
.bg-red {
  background: #d54141;
}

/* Miscellaneous structural elements */
/* line 64, ../sass/base/_structure.scss */
.center-box {
  border-bottom: 2px solid #f0f0f0;
  display: inline-block;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}
/* line 70, ../sass/base/_structure.scss */
.center-box .btn {
  display: inline-block;
}

/* Clearfix */
/* line 2, ../sass/base/_utility.scss */
.clearfix:after, .wrapper:after, #header:after, #info .info-details:after, #social:after, .sidebox:after, #photos:after, #past-talks:after, #past-talks ul:after, #footer ul:after {
  display: block;
  clear: both;
  content: "";
}

/* Fluid Images */
/* line 8, ../sass/base/_utility.scss */
.image-fluid {
  display: block;
  height: auto;
  width: 100%;
}

/* Tags */
/* line 15, ../sass/base/_utility.scss */
.tags {
  display: block;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
/* line 20, ../sass/base/_utility.scss */
.tags li {
  float: left;
  margin-right: 5px;
  margin-bottom: 13px;
}
/* line 25, ../sass/base/_utility.scss */
.tags li a {
  background: #3f97ce;
  color: white;
  padding: 4px 8px;
}

/* Floats */
/* line 34, ../sass/base/_utility.scss */
.right {
  @include float-right;
}

/* line 37, ../sass/base/_utility.scss */
.left {
  float: left;
}

/* Avatars */
/* line 42, ../sass/base/_utility.scss */
.avatar img {
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  -ms-border-radius: 45px;
  border-radius: 45px;
  float: left;
}

/* Modules and Variables*/
/* line 1, ../sass/modules/_module_header.scss */
#header {
  background: #171717;
  padding: 4px 0;
  width: 100%;
}
/* line 6, ../sass/modules/_module_header.scss */
#header a {
  color: #a8a8a9;
}

/* line 10, ../sass/modules/_module_header.scss */
.logo {
  background: url(../images/logo.svg);
  height: 30px;
  display: block;
  float: left;
  margin-top: 5px;
  text-indent: -9999px;
  width: 183px;
  background-size: 183px 30px;
}

/* line 20, ../sass/modules/_module_header.scss */
#header-wrap {
  @include float-right;
  overflow: auto;
  width: 80%;
}
@media (max-width: 1023px) {
  /* line 20, ../sass/modules/_module_header.scss */
  #header-wrap {
    width: 35%;
  }
}

/* line 28, ../sass/modules/_module_header.scss */
#reg-search {
  @include float-right;
}
/* line 30, ../sass/modules/_module_header.scss */
#reg-search * {
  float: left;
}
/* line 33, ../sass/modules/_module_header.scss */
#reg-search .reg {
  line-height: 2.3em;
}
/* line 36, ../sass/modules/_module_header.scss */
#reg-search .reg li {
  padding-right: 1em;
}
@media (max-width: 1024px) {
  /* line 28, ../sass/modules/_module_header.scss */
  #reg-search {
    display: none;
  }
}

/* line 45, ../sass/modules/_module_header.scss */
#search input[type="search"] {
  -webkit-border-top-left-radius: 45px;
  -webkit-border-bottom-left-radius: 45px;
  -moz-border-radius-topleft: 45px;
  -moz-border-radius-bottomleft: 45px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background: #353535;
  border: none;
  color: white;
  font: normal 100% "Proxima Nova Light", "Helvetica Light", sans-serif;
  font-size: 100%;
  outline: none;
  padding: 8px 8px 7px 8px;
  width: 250px;
}
/* line 56, ../sass/modules/_module_header.scss */
#search .btn-search {
  background: #353535 url(../images/icon-search.svg) center no-repeat;
  border: none;
  cursor: pointer;
  -webkit-border-top-right-radius: 45px;
  -webkit-border-bottom-right-radius: 45px;
  -moz-border-radius-topright: 45px;
  -moz-border-radius-bottomright: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 11px;
  width: 40px;
}

/* line 65, ../sass/modules/_module_header.scss */
#nav {
  @include float-right;
  line-height: 2.4em;
  padding-left: 9%;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  /* line 65, ../sass/modules/_module_header.scss */
  #nav {
    display: none;
  }
}
/* line 73, ../sass/modules/_module_header.scss */
#nav li {
  float: left;
  padding-right: 1em;
}
/* line 76, ../sass/modules/_module_header.scss */
#nav li a {
  display: block;
}
/* line 79, ../sass/modules/_module_header.scss */
#nav li li {
  display: none;
}
/* line 83, ../sass/modules/_module_header.scss */
#nav .nav-add {
  position: relative;
}
/* line 86, ../sass/modules/_module_header.scss */
#nav .nav-add a:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc;
  top: 45%;
  right: 0;
  z-index: 1;
  width: 0;
}
/* line 101, ../sass/modules/_module_header.scss */
#nav .nav-add a:hover:after {
  opacity: .6;
}

/* line 108, ../sass/modules/_module_header.scss */
#hamburger-menu {
  display: none;
}
@media (max-width: 1023px) {
  /* line 108, ../sass/modules/_module_header.scss */
  #hamburger-menu {
    display: block;
    @include float-right;
    line-height: 2.4em;
    text-transform: uppercase;
  }
  /* line 116, ../sass/modules/_module_header.scss */
  #hamburger-menu .menu {
    padding-right: 30px;
    position: relative;
  }
  /* line 120, ../sass/modules/_module_header.scss */
  #hamburger-menu .menu span {
    top: 45%;
    right: 0;
  }
  /* line 125, ../sass/modules/_module_header.scss */
  #hamburger-menu .menu span, #hamburger-menu .menu span:before, #hamburger-menu .menu span:after {
    background: #cccccc;
    cursor: pointer;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 18px;
  }
  /* line 134, ../sass/modules/_module_header.scss */
  #hamburger-menu .menu span:before {
    top: -5px;
  }
  /* line 137, ../sass/modules/_module_header.scss */
  #hamburger-menu .menu span:after {
    bottom: -5px;
  }
}

/* Hero */
/* line 2, ../sass/modules/_module_hero.scss */
#hero {
  color: white;
  position: relative;
}
/* line 5, ../sass/modules/_module_hero.scss */
#hero a {
  color: white;
  text-decoration: underline;
}

/* line 10, ../sass/modules/_module_hero.scss */
#info {
  position: absolute;
  top: 55%;
  width: 95%;
}
@media (min-width: 830px) and (max-width: 1150px) {
  /* line 10, ../sass/modules/_module_hero.scss */
  #info {
    top: 50%;
  }
}
/* line 17, ../sass/modules/_module_hero.scss */
#info .info-details {
  float: left;
  width: 72%;
}
/* line 21, ../sass/modules/_module_hero.scss */
#info .info-details .avatar img {
  height: 90px;
  margin-right: 20px;
  width: 90px;
}
/* line 27, ../sass/modules/_module_hero.scss */
#info ul {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  @include float-right;
  padding: 15px 0 15px 3%;
  width: 24%;
}
/* line 32, ../sass/modules/_module_hero.scss */
#info ul li {
  padding: 3px;
}
/* line 35, ../sass/modules/_module_hero.scss */
#info ul .attendees {
  background: url(../images/attendees.svg) no-repeat;
  margin-top: 8px;
  padding-left: 40px;
}

/* line 1, ../sass/modules/_module_speakers.scss */
.section--speakers {
  padding: 40px 0;
}
/* line 4, ../sass/modules/_module_speakers.scss */
.section--speakers .speaker-card {
  background: #2ebfbb;
  color: white;
  float: left;
  width: 24.1%;
}
/* line 10, ../sass/modules/_module_speakers.scss */
.section--speakers .speaker-card ul {
  margin-bottom: 20px;
}
/* line 14, ../sass/modules/_module_speakers.scss */
.section--speakers .speaker-card .speaker-info {
  padding: 4%;
}
/* line 18, ../sass/modules/_module_speakers.scss */
.section--speakers .speaker-card .btn {
  display: block;
  text-align: center;
}
/* line 21, ../sass/modules/_module_speakers.scss */
.section--speakers .speaker-card .btn span {
  border-right: 2px solid #2ebfbb;
  float: left;
  padding: 8px 18px 8px 0;
  margin-top: -8px;
  height: 100%;
}

/* line 1, ../sass/modules/_module_social.scss */
#social {
  padding-top: 30px;
}
/* line 5, ../sass/modules/_module_social.scss */
#social #recommendations {
  float: left;
}
/* line 9, ../sass/modules/_module_social.scss */
#social #tweet-like-share {
  @include float-right;
}

/* line 1, ../sass/modules/_module_rating.scss */
#avg-rating {
  float: left;
  width: 50%;
}

/* line 6, ../sass/modules/_module_rating.scss */
#rate-talk {
  background: #59357b;
  color: white;
  @include float-right;
  font: normal 100% "Proxima Nova Light", "Helvetica Light", sans-serif;
  font-size: 2.8125em;
  /* 45pt */
  height: 100%;
  padding: 12% 5% 16% 5%;
  text-align: center;
  width: 40%;
}

/* line 18, ../sass/modules/_module_rating.scss */
.rate-prompt {
  display: block;
  padding-bottom: 30px;
}

/* line 1, ../sass/modules/_module_sidebar.scss */
.sidebox {
  margin-bottom: 30px;
  padding: 5%;
}
/* line 6, ../sass/modules/_module_sidebar.scss */
.sidebox blockquote {
  line-height: 1.6em;
  margin-bottom: 20px;
}
/* line 11, ../sass/modules/_module_sidebar.scss */
.sidebox ul {
  margin-bottom: 15px;
}

/* Testimonials */
/* line 17, ../sass/modules/_module_sidebar.scss */
#testimonials {
  color: white;
  border: 2px solid #d54141;
}
/* line 20, ../sass/modules/_module_sidebar.scss */
#testimonials a {
  color: #fdc5a1;
  text-decoration: underline;
}
/* line 24, ../sass/modules/_module_sidebar.scss */
#testimonials a.btn {
  color: white;
  text-decoration: none;
}
/* line 28, ../sass/modules/_module_sidebar.scss */
#testimonials .add-testimonial {
  display: block;
  margin-top: 20px;
}

/* About Speaker */
/* line 35, ../sass/modules/_module_sidebar.scss */
#about-speaker {
  border: 2px solid #f0f0f0;
}
/* line 38, ../sass/modules/_module_sidebar.scss */
#about-speaker .social-icons li {
  padding-right: 5px;
  float: left;
}
/* line 42, ../sass/modules/_module_sidebar.scss */
#about-speaker .social-icons a {
  display: block;
  text-indent: -9999px;
  height: 35px;
  width: 35px;
}
/* line 48, ../sass/modules/_module_sidebar.scss */
#about-speaker .social-icons .linkedin {
  background: url(../images/icon-linkedin.svg);
}
/* line 51, ../sass/modules/_module_sidebar.scss */
#about-speaker .social-icons .facebook {
  background: url(../images/icon-facebook.svg);
}
/* line 54, ../sass/modules/_module_sidebar.scss */
#about-speaker .social-icons .twitter {
  background: url(../images/icon-twitter.svg);
}

/* Talks and Organizers */
/* line 61, ../sass/modules/_module_sidebar.scss */
#other-talks, #organizers {
  border: 2px solid #f0f0f0;
}

/* line 66, ../sass/modules/_module_sidebar.scss */
#organizers li {
  display: table;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
/* line 72, ../sass/modules/_module_sidebar.scss */
#organizers li p {
  display: table-cell;
  line-height: 1.2em;
  vertical-align: middle;
  width: 75%;
}
/* line 78, ../sass/modules/_module_sidebar.scss */
#organizers li p span {
  color: #cccccc;
  display: block;
  font-size: .825em;
  /* 16px /14px */
}
/* line 84, ../sass/modules/_module_sidebar.scss */
#organizers li img {
  margin-right: 10px;
}

/* line 1, ../sass/modules/_module_talks.scss */
#talks {
  margin-bottom: 50px;
}
/* line 3, ../sass/modules/_module_talks.scss */
#talks .time {
  background: #f0f0f0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font: normal 100% "Proxima Nova Sbold", Helvetica, sans-serif;
  font-size: .8125em;
  /* 13px / 16px */
  padding: 10px 0;
  text-align: center;
  width: 75px;
}
/* line 13, ../sass/modules/_module_talks.scss */
#talks ul li {
  border-left: 2px solid #f0f0f0;
  margin-left: 37px;
}
/* line 18, ../sass/modules/_module_talks.scss */
#talks ul li ul li {
  border: none;
  margin-left: -37px;
  padding-left: 100px;
  height: 100%;
}
/* line 24, ../sass/modules/_module_talks.scss */
#talks ul li ul li a {
  display: block;
}
/* line 28, ../sass/modules/_module_talks.scss */
#talks ul li ul li.talk-detail {
  height: 65px;
  margin-top: -37px;
}
/* line 34, ../sass/modules/_module_talks.scss */
#talks li.last {
  border: none;
}

/* line 1, ../sass/modules/_module_photos.scss */
#photos {
  margin-bottom: 50px;
  background-color: #3f97ce;
  position: relative;
}
/* line 6, ../sass/modules/_module_photos.scss */
#photos img {
  float: left;
  width: 20%;
}
/* line 10, ../sass/modules/_module_photos.scss */
#photos .blue-box {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 20%;
}
/* line 18, ../sass/modules/_module_photos.scss */
#photos .blue-box a {
  color: white;
  display: block;
  padding: 45% 0;
}

/* line 1, ../sass/modules/_module_slides.scss */
#slides {
  width: 100%;
}

/* line 1, ../sass/modules/_module_pasttalks.scss */
#past-talks {
  margin-bottom: 50px;
}
/* line 6, ../sass/modules/_module_pasttalks.scss */
#past-talks ul li {
  width: 100%;
  margin-bottom: 20px;
  float: left;
}
/* line 10, ../sass/modules/_module_pasttalks.scss */
#past-talks ul li img {
  float: left;
  margin-right: 20px;
}
/* line 15, ../sass/modules/_module_pasttalks.scss */
#past-talks ul li ul li {
  float: left;
  margin-bottom: 5px;
  width: 80%;
}

/* line 25, ../sass/modules/_module_pasttalks.scss */
.rating {
  color: white;
  font-size: .825em;
  padding: 3px 15px;
  text-align: center;
}

/* line 32, ../sass/modules/_module_pasttalks.scss */
.rating0 {
  background-color: #b09ec4;
}

/* line 33, ../sass/modules/_module_pasttalks.scss */
.rating1 {
  background-color: #a28bb9;
}

/* line 34, ../sass/modules/_module_pasttalks.scss */
.rating2 {
  background-color: #9277ac;
}

/* line 35, ../sass/modules/_module_pasttalks.scss */
.rating3 {
  background-color: #8364a0;
}

/* line 36, ../sass/modules/_module_pasttalks.scss */
.rating4 {
  background-color: #734f95;
}

/* line 37, ../sass/modules/_module_pasttalks.scss */
.rating5 {
  background-color: #59357b;
}

/* line 1, ../sass/modules/_module_footer.scss */
#footer {
  background: #171717;
  color: #5e5e5e;
  font: normal 100% "Proxima Nova Light", "Helvetica Light", sans-serif;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
/* line 8, ../sass/modules/_module_footer.scss */
#footer .wrapper {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
/* line 13, ../sass/modules/_module_footer.scss */
#footer ul {
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
/* line 19, ../sass/modules/_module_footer.scss */
#footer ul li {
  display: inline-block;
  padding: 0 20px;
}
/* line 24, ../sass/modules/_module_footer.scss */
#footer #footer-nav {
  font-size: 1.5em;
  /* 24pt / 16pt */
}
/* line 27, ../sass/modules/_module_footer.scss */
#footer .pointless {
  background: url(../images/pointless-logo.svg);
  display: block;
  margin: 35px auto 10px auto;
  opacity: .3;
  text-indent: -9999px;
  height: 35px;
  width: 245px;
}

/* General */
/* line 11, ../sass/main.scss */
body {
  color: #333333;
  font: normal 100% "Proxima Nova Reg", Helvetica, sans-serif;
}
